.form-container,
.option-container,
.background-option {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.form-container.signup {
    transform: translate(67%);
}

.option-container.signin {
    transform: translate(-150%);
}

.background-option.signin {
    transform: translate(38%);
}

.form-container.signin,
.option-container.signup,
.background-option {
    transform: translate(0%);
}

.signin-form,
.signup-form,
.signin-option,
.signup-option {
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0.5s;
}

/* .signin-form {
    z-index: 3;
    opacity: 1;
}

.signup-form {
    z-index: 2;
    opacity: 0;
} */

.on {
    z-index: 13;
    opacity: 1;
    pointer-events: all;
}

.off {
    z-index: 11;
    opacity: 0;
    pointer-events: none;
}

.background-option img {
    animation: background-rotation 120s linear infinite;
}

@keyframes background-rotation {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.signin-option {
    transition-property: right;
    transition-duration: 0.75s;
    /* transition-delay: 0.75s; */
    transition-timing-function: ease-in-out;
}

.signup-option {
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: linear;
}

.move-right-option {
    transform: translate(150%, -50%);
}

.social-icon,
button {
    transition-duration: 0.25s;
}