@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --pink: #b3112f;
    --dark-pink: #741b2d;
    --brown: #a9927d;
    --dark-brownn: #5e503f;
    --light-gray: #eeeeee;
    --gray: #aaaaaa;
    --dark-gray: #8b8b8b;
    --white: #f2f4f3;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.main-container {
    border-radius: 10px;
    background-color: var(--white);
}

.form-container,
.option-container {
    padding: 40px;
}

.signin-form,
.signup-form,
.signin-option,
.signup-option {
    text-align: center;
}

.form-container .title-field {
    color: var(--brown);
    margin-bottom: 20px;
}

.fields {}

.social-field {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon a {
    text-decoration: none;
    color: black;
}

.social-icon:hover {
    background-color: var(--brown);
    border: var(--brown);
}

.social-icon a:hover {
    text-decoration: none;
    color: var(--white);
}

.fields p {
    font-size: 12px;
    color: var(--dark-gray);
    letter-spacing: 1px;
}

.text-field {
    margin: auto;
    max-width: 300px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: var(--light-gray);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.text-field i {
    color: var(--gray);
    font-size: 13px;
}

.text-field input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    max-width: 230px;
    width: 100%;
    font-size: 12px;
}

.button-field button {
    background-color: var(--brown);
    color: white;
    border: none;
    border-radius: 30px;
    height: 40px;
    max-width: 300px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    font-size: 14px;
}

.button-field button:hover {
    background-color: var(--dark-pink);
}

.option-container {
    color: var(--white);
    background-color: var(--pink);
}